<h2>Admin</h2>

<h3 data-toggle="create_form">Create</h3>
<div id="create_form" class="toggling">
  <form role="form">
    <div class="form-group">
      <label>Keg name</label>
      <input type="text" name="name" class="form-control" placeholder="Keg name" />

      <label>Tapped</label>
      <input type="text" name="tapped" class="form-control" placeholder="When was this tapped? Format: MM/DD/YYYY" />

      <label>Kicked</label>
      <input type="text" name="kicked" class="form-control" placeholder="When was this kicked? Format: MM/DD/YYYY" />

      {{> kegSizes}}
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Change keg</button>
    </div>
  </form>
</div>

<h3 data-toggle="edit_form">Edit</h3>
<div id="edit_form" class="toggling">
  {{#with keg}}
  <form role="form">
    <div class="form-group">
      <label>Keg name</label>
      <input type="text" name="name" class="form-control" placeholder="Keg name" value="{{name}}" />

      <label>Tapped</label>
      <input type="text" name="tapped" class="form-control" placeholder="When was this tapped?" value="{{tapped}}" />

      <label>Kicked</label>
      <input type="text" name="kicked" class="form-control" placeholder="When was this kicked?" value="{{kicked}}" />

      {{> kegSizes}}
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Edit keg</button>
    </div>
  </form>
  {{/with}}
</div>

<h3 data-toggle="remove_drinker">Remove drinker</h3>
<div id="remove_drinker" class="toggling">
  <table id="drinkers" class="kegums-table">
    <thead>
      <tr>
        <td></td>
      </tr>
    </thead>

    <tbody>
      {{#each drinkers}}
      <tr id="{{id}}" class="clickable">
        <td>{{name}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<h3 data-toggle="kick_keg">Kick keg</h3>
<div id="kick_keg" class="toggling">
  <a id="kick" class="btn btn-danger">Kick</a>
</div>
