<div class="dash-widget-inner">
  <h2 class="title">{{title}}</h2>

  {{#if isList}}
    <ul>
    {{#each stat}}
      <li>
        {{name}}
        {{#if value}}: {{#if prefix}}{{prefix}}{{/if}}{{value}}{{/if}}
        {{#if unit}} {{unit}}{{/if}}
      </li>
    {{/each}}
    </ul>
  {{else}}
    <span class="stat {{#unless unit}}no-unit{{/unless}}">{{stat}}</span>
    {{#if unit}}<span class="unit">{{unit}}</span>{{/if}}
  {{/if}}
</div>
