<div class="col-xs-6 col-sm-6 col-lg-6">
  <h3>Current keg</h3>
  <p>{{keg}}</p>
</div>

<div class="col-xs-6 col-sm-6 col-lg-6">
  <img src="/static/images/current_keg.png" />
</div>

<div class="col-xs-6 col-sm-6 col-lg-6">
  <h3>Total pours</h3>
  {{#if totalPours}}
  <p>{{totalPours}}</p>
  {{else}}
  <p id="total_pours">
    checking
    <span class="ellipsis"></span>
  </p>
  {{/if}}
</div>

<div class="col-xs-6 col-sm-6 col-lg-6">
  <h3>Pours until empty</h3>
  {{#if poursLeft}}
  <p>{{poursLeft}}</p>
  {{else}}
  <p id="pours_left">
    checking
    <span class="ellipsis"></span>
  </p>
  {{/if}}
</div>
