<ul>
  <li data-route="home" class="{{getActiveClass item "home"}}">
    <a href="#" class="home">Kegums</a>
  </li>

  {{#unlessLimitedMobile item}}
  <li data-route="beers" class="{{getActiveClass item "beers"}}">
    <a href="#/beers">Visualize</a>
  </li>

  <li data-route="fridge" class="{{getActiveClass item "fridge"}}">
    <a href="#/fridge">Temp</a>
  </li>
  {{/unlessLimitedMobile}}

  <!--   {{#if interactive}}
  <li data-route="drink" class="{{getActiveClass item "drink"}}">
    <a href="#/drink">Drink</a>
  </li>

  <li data-route="claim" class="{{getActiveClass item "claim"}}">
    <a href="#/claim">Claim Drink</a>
  </li>
  {{/if}} -->
</ul>

<div class="footer">
  <span>&copy;2014 Kegums. &hearts; beer</span>
</div>
